{
  "rules": {
    "selector-class-pattern": "^[0-9A-z\\-]+$",
    "block-opening-brace-space-before": "always",
    "rule-empty-line-before": [
      "always",
      {
        "except": ["after-single-line-comment", "first-nested"]
      }
    ],
    "selector-pseudo-class-no-unknown": [
        true, 
        {
          "ignorePseudoClasses": ["global"]
        }
      ],
    },
  "extends": ["stylelint-config-recommended-scss", "stylelint-config-prettier"],
  "plugins": ["stylelint-scss"]
}
